
<!DOCTYPE html>
<html lang = "en">
  <head>
    <%- include ./partials/_head %>
  </head>
  <body>
      <%- include ./partials/_navbar %>
    <form action=/urls/<%= shortURL %> method="POST" style="text-align: center;">
     <h2>ShortURL : <%= shortURL %></h2>
      <input id="longURL" type="text" name="longURL" value=<%= allURL[shortURL] %> all style="width: 300px">
      <button class="btn accept" type="submit" value="Accept">Accept</button>
    </form>
  </body>
</html>